
<template name="home">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1 class="pageTitle text-center">Simple Meditation Timer</h1>
                <h3 class="pageSubTitle text-center">brought to you by...</h3>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="bittigerMediumLogo center-block"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-success btn-lg center-block" onClick='Router.go("selectTime");'>Meditate</button>
            </div>
        </div>
</template>