
<template name="home">
        <label class="item item-input">
            <span class="input-label">Date</span>
            <input type="date">
        </label>
        <div class="row-fluid">
            <div class="col-md-12">
                <h1 class="pageTitle text-center">Tiger Timer</h1>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="bittigerMediumLogo center-block"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-6 col-md-offset-3">
                <button id="meditateButton" type="button" class="btn btn-success btn-lg center-block">Meditate</button>
            </div>
        </div>
</template>