<template name="selectTime">
    <div class="row-fluid">
        <div class="col-md-4 col-md-offset-4">
            <div class="btn-group-vertical center-block" role="group" aria-label="...">
                <a  class="btn btn-success btn-lg center-block" value="1">1 Minute</a>
                <a  class="btn btn-success btn-lg center-block" value="5">5 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="10">10 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="15">15 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="20">20 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="30">30 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="45">45 Minutes</a>
                <a  class="btn btn-success btn-lg center-block" value="60">60 Minutes</a>
            </div>
        </div>
    </div>
</template>