<template name="sessionComplete">
    <div class="row-fluid">
        <div class="col-md-12">
            <embed src="../sounds/meditationbell.wav" autostart="true" width="2" height="0" />
            <h1 class="text-center">Meditation Session Complete!</h1>
            <div class="progress center-block meditation-progress-bar">
                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">100% Complete (warning)</span>
                </div>
            </div>
        </div>
    </div>
</template>